# Data Preparation & Exploration for Climate (ulmo)

I want to merge the data from GSOD to my ILI data by getting a summary of the data by position
-  exploring daymet : daily temperature, precipitation for any locationsion in the US [reference](https://github.com/ulmo-dev/ulmo/blob/master/examples/Using%20Daymet%20weather%20data%20from%20ORNL%20webservice.ipynb)

In [1]:
# import packages and modules
from ulmo.nasa import daymet
from delphi_epidata import Epidata

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold
from sklearn.utils import shuffle

pd.set_option('display.max_columns', 100)

/anaconda/lib/python3.6/site-packages/ulmo/twc/kbdi/core.py:20: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp
  CSV_SWITCHOVER = pandas.tslib.Timestamp('2016-10-01')

In [7]:
#test
ili_test = pd.read_csv("../data/raw.csv")
ili_test.head()

,statename,activity_level,activity_level_label,weekend,season,weeknumber,Latitude,Longitude
0,Alabama,1,Minimal,Oct-01-2016,2015-16,39,32.806671,-86.79113
1,Alabama,1,Minimal,Sep-24-2016,2015-16,38,32.806671,-86.79113
2,Alabama,1,Minimal,Sep-17-2016,2015-16,37,32.806671,-86.79113
3,Alabama,1,Minimal,Sep-10-2016,2015-16,36,32.806671,-86.79113
4,Alabama,1,Minimal,Sep-03-2016,2015-16,35,32.806671,-86.79113

In [39]:
coordinate = ili_test[['statename','Latitude','Longitude']]
coordinate = coordinate.drop_duplicates()
coordinate = coordinate.reset_index(drop=True)
coordinate.head()
#print("the data contains {} rows".format(len(coordinate)))

    statename   Latitude   Longitude
0     Alabama  32.806671  -86.791130
1      Alaska  61.370716 -152.404419
2     Arizona  33.729759 -111.431221
3    Arkansas  34.969704  -92.373123
4  California  36.116203 -119.681564

In [123]:
ili_test.shape

(15933, 8)

-  The latitude (WGS84), value between 52.0 and 14.5.
-  The longitude (WGS84), value between -131.0 and -53.0.

In [43]:
coordinate = coordinate[coordinate.Longitude >= -131.0]
coordinate = coordinate[coordinate.Longitude <= -53.0]
coordinate = coordinate[coordinate.Latitude >= 14.5]
coordinate = coordinate[coordinate.Latitude <= 52.0]
coordinate = coordinate.reset_index(drop=True)
coordinate

               statename   Latitude   Longitude
0                Alabama  32.806671  -86.791130
1                Arizona  33.729759 -111.431221
2               Arkansas  34.969704  -92.373123
3             California  36.116203 -119.681564
4               Colorado  39.059811 -105.311104
5            Connecticut  41.597782  -72.755371
6               Delaware  39.318523  -75.507141
7   District of Columbia  38.897438  -77.026817
8                Florida  27.766279  -81.686783
9                Georgia  33.040619  -83.643074
10                 Idaho  44.240459 -114.478828
11              Illinois  40.349457  -88.986137
12               Indiana  39.849426  -86.258278
13                  Iowa  42.011539  -93.210526
14                Kansas  38.526600  -96.726486
15              Kentucky  37.668140  -84.670067
16             Louisiana  31.169546  -91.867805
17                 Maine  44.693947  -69.381927
18              Maryland  39.063946  -76.802101
19         Massachusetts  42.230171  -71.530106
20              Michigan  43.326618  -84.536095
21             Minnesota  45.694454  -93.900192
22           Mississippi  32.741646  -89.678696
23              Missouri  38.456085  -92.288368
24               Montana  46.921925 -110.454353
25              Nebraska  41.125370  -98.268082
26                Nevada  38.313515 -117.055374
27         New Hampshire  43.452492  -71.563896
28            New Jersey  40.298904  -74.521011
29            New Mexico  34.840515 -106.248482
30              New York  42.165726  -74.948051
31        North Carolina  35.630066  -79.806419
32          North Dakota  47.528912  -99.784012
33                  Ohio  40.388783  -82.764915
34              Oklahoma  35.565342  -96.928917
35                Oregon  44.572021 -122.070938
36          Pennsylvania  40.590752  -77.209755
37          Rhode Island  41.680893  -71.511780
38        South Carolina  33.856892  -80.945007
39          South Dakota  44.299782  -99.438828
40             Tennessee  35.747845  -86.692345
41                 Texas  31.054487  -97.563461
42                  Utah  40.150032 -111.862434
43               Vermont  44.045876  -72.710686
44              Virginia  37.769337  -78.169968
45            Washington  47.400902 -121.490494
46         West Virginia  38.491226  -80.954453
47             Wisconsin  44.268543  -89.616508
48               Wyoming  42.755966 -107.302490

In [89]:
climate = []
for i in range(len(coordinate.statename)):
    df = daymet.get_daymet_singlepixel(longitude=coordinate.Longitude[i], latitude=coordinate.Latitude[i], 
                                   years=[2010,2015])
    df['statename'] = coordinate.statename[i]
    df['Latitude'] = coordinate.Latitude[i]
    df['Longitude'] = coordinate.Longitude[i]
    climate.append(df)
    
climate = pd.concat(climate)

climate['year'] = climate.index.year
climate['month'] = climate.index.month
climate['day'] = climate.index.day

climate.head()

making request for latitude, longitude: 32.806671, -86.79113000000001
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=32.806671&lon=-86.79113000000001&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=32.806671&lon=-86.79113&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 33.729759, -111.431221
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=33.729759&lon=-111.431221&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=33.729759&lon=-111.431221&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 34.969704, -92.37312299999999
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=34.969704&lon=-92.37312299999999&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=34.969704&lon=-92.373123&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 36.116203000000006, -119.681564
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=36.116203000000006&lon=-119.681564&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=36.116203&lon=-119.681564&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 39.059810999999996, -105.311104
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=39.059810999999996&lon=-105.311104&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=39.059811&lon=-105.311104&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 41.597782, -72.755371
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=41.597782&lon=-72.755371&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=41.597782&lon=-72.755371&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 39.318523, -75.507141
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=39.318523&lon=-75.507141&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=39.318523&lon=-75.507141&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 38.897438, -77.02681700000001
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=38.897438&lon=-77.02681700000001&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=38.897438&lon=-77.026817&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 27.766278999999997, -81.68678299999999
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=27.766278999999997&lon=-81.68678299999999&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=27.766279&lon=-81.686783&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 33.040619, -83.643074
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=33.040619&lon=-83.643074&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=33.040619&lon=-83.643074&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 44.240459, -114.47882800000001
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=44.240459&lon=-114.47882800000001&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=44.240459&lon=-114.478828&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 40.349457, -88.986137
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=40.349457&lon=-88.986137&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=40.349457&lon=-88.986137&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 39.849426, -86.258278
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=39.849426&lon=-86.258278&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=39.849426&lon=-86.258278&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 42.011539, -93.210526
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=42.011539&lon=-93.210526&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=42.011539&lon=-93.210526&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 38.5266, -96.726486
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=38.5266&lon=-96.726486&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=38.5266&lon=-96.726486&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 37.66814, -84.670067
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=37.66814&lon=-84.670067&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=37.66814&lon=-84.670067&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 31.169546, -91.867805
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=31.169546&lon=-91.867805&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=31.169546&lon=-91.867805&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 44.693946999999994, -69.381927
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=44.693946999999994&lon=-69.381927&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=44.693947&lon=-69.381927&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 39.063946, -76.80210100000001
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=39.063946&lon=-76.80210100000001&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=39.063946&lon=-76.802101&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 42.230171, -71.530106
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=42.230171&lon=-71.530106&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=42.230171&lon=-71.530106&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 43.326617999999996, -84.53609499999999
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=43.326617999999996&lon=-84.53609499999999&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=43.326618&lon=-84.536095&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 45.694454, -93.900192
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=45.694454&lon=-93.900192&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=45.694454&lon=-93.900192&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 32.741646, -89.678696
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=32.741646&lon=-89.678696&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=32.741646&lon=-89.678696&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 38.456084999999995, -92.288368
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=38.456084999999995&lon=-92.288368&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=38.456085&lon=-92.288368&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 46.921925, -110.454353
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=46.921925&lon=-110.454353&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=46.921925&lon=-110.454353&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 41.125370000000004, -98.26808199999999
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=41.125370000000004&lon=-98.26808199999999&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=41.12537&lon=-98.268082&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 38.313515, -117.055374
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=38.313515&lon=-117.055374&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=38.313515&lon=-117.055374&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 43.452492, -71.563896
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=43.452492&lon=-71.563896&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=43.452492&lon=-71.563896&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 40.298904, -74.521011
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=40.298904&lon=-74.521011&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=40.298904&lon=-74.521011&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015

making request for latitude, longitude: 34.840515, -106.24848200000001
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=34.840515&lon=-106.24848200000001&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=34.840515&lon=-106.248482&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 42.165726, -74.948051
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=42.165726&lon=-74.948051&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=42.165726&lon=-74.948051&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 35.630066, -79.80641899999999
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=35.630066&lon=-79.80641899999999&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=35.630066&lon=-79.806419&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 47.528912, -99.784012
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=47.528912&lon=-99.784012&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=47.528912&lon=-99.784012&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 40.388783000000004, -82.764915
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=40.388783000000004&lon=-82.764915&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=40.388783&lon=-82.764915&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 35.565342, -96.928917
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=35.565342&lon=-96.928917&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=35.565342&lon=-96.928917&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 44.572021, -122.07093799999998
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=44.572021&lon=-122.07093799999998&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=44.572021&lon=-122.070938&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 40.590752, -77.209755
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=40.590752&lon=-77.209755&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=40.590752&lon=-77.209755&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 41.680893, -71.51178
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=41.680893&lon=-71.51178&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=41.680893&lon=-71.51178&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 33.856891999999995, -80.94500699999999
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=33.856891999999995&lon=-80.94500699999999&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=33.856892&lon=-80.945007&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 44.299782, -99.438828
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=44.299782&lon=-99.438828&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=44.299782&lon=-99.438828&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 35.747845, -86.69234499999999
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=35.747845&lon=-86.69234499999999&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=35.747845&lon=-86.692345&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 31.054486999999998, -97.563461
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=31.054486999999998&lon=-97.563461&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=31.054487&lon=-97.563461&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 40.150032, -111.86243400000001
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=40.150032&lon=-111.86243400000001&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=40.150032&lon=-111.862434&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 44.045876, -72.710686
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=44.045876&lon=-72.710686&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=44.045876&lon=-72.710686&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 37.769337, -78.16996800000001
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=37.769337&lon=-78.16996800000001&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=37.769337&lon=-78.169968&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 47.400902, -121.490494
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=47.400902&lon=-121.490494&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=47.400902&lon=-121.490494&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 38.491226, -80.954453
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=38.491226&lon=-80.954453&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=38.491226&lon=-80.954453&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 44.268543, -89.616508
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=44.268543&lon=-89.616508&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=44.268543&lon=-89.616508&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015
making request for latitude, longitude: 42.755966, -107.30248999999999
processing data from request: https://daymet.ornl.gov/data/send/saveData?lat=42.755966&lon=-107.30248999999999&measuredParams=tmax,tmin,prcp&year=2010,2015&lat=42.755966&lon=-107.30249&vars=tmax%2Ctmin%2Cprcp&years=2010%2C2015

            year  yday  prcp  tmax  tmin statename   Latitude  Longitude
2010-01-01  2010     1   1.0  10.5   1.0   Alabama  32.806671  -86.79113
2010-01-02  2010     2   0.0   7.5  -3.0   Alabama  32.806671  -86.79113
2010-01-03  2010     3   0.0   4.5  -4.5   Alabama  32.806671  -86.79113
2010-01-04  2010     4   0.0   2.5  -5.5   Alabama  32.806671  -86.79113
2010-01-05  2010     5   0.0   1.5  -8.5   Alabama  32.806671  -86.79113
2010-01-06  2010     6   0.0   4.0  -9.0   Alabama  32.806671  -86.79113
2010-01-07  2010     7   0.0   5.0  -7.0   Alabama  32.806671  -86.79113
2010-01-08  2010     8   0.0   1.5  -7.5   Alabama  32.806671  -86.79113
2010-01-09  2010     9   0.0   0.0  -9.0   Alabama  32.806671  -86.79113
2010-01-10  2010    10   0.0   2.0  -9.0   Alabama  32.806671  -86.79113
2010-01-11  2010    11   0.0   5.5 -10.0   Alabama  32.806671  -86.79113
2010-01-12  2010    12   0.0   7.0  -6.5   Alabama  32.806671  -86.79113
2010-01-13  2010    13   0.0   8.5  -6.0   Alabama  32.806671  -86.79113
2010-01-14  2010    14   0.0  12.0  -5.5   Alabama  32.806671  -86.79113
2010-01-15  2010    15   0.0  15.5  -4.5   Alabama  32.806671  -86.79113
2010-01-16  2010    16   0.0  16.0   2.5   Alabama  32.806671  -86.79113
2010-01-17  2010    17  15.0  15.5   8.5   Alabama  32.806671  -86.79113
2010-01-18  2010    18   4.0  14.5   5.5   Alabama  32.806671  -86.79113
2010-01-19  2010    19   0.0  18.5   1.5   Alabama  32.806671  -86.79113
2010-01-20  2010    20   0.0  19.0   4.0   Alabama  32.806671  -86.79113
2010-01-21  2010    21  46.0  19.5   8.5   Alabama  32.806671  -86.79113
2010-01-22  2010    22   0.0  18.0   6.0   Alabama  32.806671  -86.79113
2010-01-23  2010    23   0.0  14.0   5.5   Alabama  32.806671  -86.79113
2010-01-24  2010    24  33.0  18.0   8.5   Alabama  32.806671  -86.79113
2010-01-25  2010    25  81.0  16.5   4.0   Alabama  32.806671  -86.79113
2010-01-26  2010    26   0.0  14.0   1.0   Alabama  32.806671  -86.79113
2010-01-27  2010    27   0.0  13.0  -1.0   Alabama  32.806671  -86.79113
2010-01-28  2010    28   0.0  16.0  -1.0   Alabama  32.806671  -86.79113
2010-01-29  2010    29   0.0  15.0   2.5   Alabama  32.806671  -86.79113
2010-01-30  2010    30  17.0  11.0   1.5   Alabama  32.806671  -86.79113
...          ...   ...   ...   ...   ...       ...        ...        ...
2015-12-02  2015   336   0.0  -1.5 -10.5   Wyoming  42.755966 -107.30249
2015-12-03  2015   337   0.0   1.5  -9.0   Wyoming  42.755966 -107.30249
2015-12-04  2015   338   0.0   3.5  -6.5   Wyoming  42.755966 -107.30249
2015-12-05  2015   339   0.0   1.0  -7.5   Wyoming  42.755966 -107.30249
2015-12-06  2015   340   0.0   1.0  -8.0   Wyoming  42.755966 -107.30249
2015-12-07  2015   341   0.0   3.0  -4.5   Wyoming  42.755966 -107.30249
2015-12-08  2015   342   0.0   4.5  -0.5   Wyoming  42.755966 -107.30249
2015-12-09  2015   343   0.0   7.0  -1.5   Wyoming  42.755966 -107.30249
2015-12-10  2015   344   0.0   4.5  -4.5   Wyoming  42.755966 -107.30249
2015-12-11  2015   345   0.0   0.0  -6.5   Wyoming  42.755966 -107.30249
2015-12-12  2015   346   0.0  -1.5  -8.5   Wyoming  42.755966 -107.30249
2015-12-13  2015   347   0.0   2.5  -8.0   Wyoming  42.755966 -107.30249
2015-12-14  2015   348   0.0   0.0  -9.5   Wyoming  42.755966 -107.30249
2015-12-15  2015   349  12.0  -7.5 -12.0   Wyoming  42.755966 -107.30249
2015-12-16  2015   350   0.0  -7.0 -13.5   Wyoming  42.755966 -107.30249
2015-12-17  2015   351   0.0  -9.5 -17.0   Wyoming  42.755966 -107.30249
2015-12-18  2015   352   0.0  -1.5 -11.5   Wyoming  42.755966 -107.30249
2015-12-19  2015   353   0.0   1.5  -4.5   Wyoming  42.755966 -107.30249
2015-12-20  2015   354   0.0  -0.5  -6.5   Wyoming  42.755966 -107.30249
2015-12-21  2015   355   0.0  -2.0  -8.5   Wyoming  42.755966 -107.30249
2015-12-22  2015   356   0.0  -3.0  -9.0   Wyoming  42.755966 -107.30249
2015-12-23  2015   357   0.0  -5.5 -13.5   Wyoming  42.755966 -107.30249
2015-12-24  2015   358   3.0  -8.0 -14.5   Wyoming  42.755966 -107.30249
2015-12-25  2015   359   0.0  -5.5 -17.0   Wyoming  42.755966 -107.30249
2015-12-26  2015   360   3.0  -9.5 -18.5   Wyoming  42.755966 -107.30249
2015-12-27  2015   361   0.0  -5.5 -20.0   Wyoming  42.755966 -107.30249
2015-12-28  2015   362   0.0  -5.5 -19.5   Wyoming  42.755966 -107.30249
2015-12-29  2015   363   0.0  -9.0 -18.0   Wyoming  42.755966 -107.30249
2015-12-30  2015   364   0.0  -8.5 -16.5   Wyoming  42.755966 -107.30249
2015-12-31  2015   365   0.0  -9.5 -16.0   Wyoming  42.755966 -107.30249

[35770 rows x 8 columns]

In [46]:
# save the file
climate.to_csv("../data/climate.csv", sep='\t', encoding='utf-8')

In [47]:
res = Epidata.fluview(['nat'], [201440, Epidata.range(201501, 201510)])
print(res['result'], res['message'], len(res['epidata']))

1 success 11

In [48]:
#test
#ornl_lat, ornl_long = 35.9313167, -84.3104124
#df = daymet.get_daymet_singlepixel(longitude=ornl_long, latitude=ornl_lat, 
#                                   years=[2012,2013])

In [49]:
#df.index.year

In [90]:
climate['year'] = climate.index.year
climate['month'] = climate.index.month
climate['day'] = climate.index.day
#df.drop('index', axis=0, inplace=True)
climate.head()

,year,yday,prcp,tmax,tmin,statename,Latitude,Longitude,month,day
2010-01-01,2010,1,1.0,10.5,1.0,Alabama,32.806671,-86.79113,1,1
2010-01-02,2010,2,0.0,7.5,-3.0,Alabama,32.806671,-86.79113,1,2
2010-01-03,2010,3,0.0,4.5,-4.5,Alabama,32.806671,-86.79113,1,3
2010-01-04,2010,4,0.0,2.5,-5.5,Alabama,32.806671,-86.79113,1,4
2010-01-05,2010,5,0.0,1.5,-8.5,Alabama,32.806671,-86.79113,1,5

[Pandas dataframe groupeby datetime month](https://stackoverflow.com/questions/24082784/pandas-dataframe-groupby-datetime-month)

In [91]:
climate.shape

(35770, 10)

In [143]:
df_month = climate[['month','year', 'prcp', 'tmax', 'tmin','statename']].groupby(['statename','year', 'month',], as_index = False).mean()
df_month = df_month.rename(columns={'yday':'day',
                                    'prcp':'mean_prcp',
                                   'tmax': 'mean_tmax',
                                   'tmin':'mean_tmin'})
df_month.head()

  statename  year  month  mean_prcp  mean_tmax  mean_tmin
0   Alabama  2010      1   6.354839  10.758065  -1.258065
1   Alabama  2010      2   4.964286  10.892857  -1.017857
2   Alabama  2010      3   5.516129  17.177419   4.419355
3   Alabama  2010      4   3.033333  26.033333   9.783333
4   Alabama  2010      5   4.612903  29.322581  17.096774

In [93]:
df_month.shape

(1176, 9)

We have :
-  categorical variable : year, yday(integer)
-  other variable : floats or interger
-  index : datetime

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 730 entries, 2012-01-01 to 2013-12-31
Data columns (total 9 columns):
year         730 non-null int64
yday         730 non-null int64
prcp         730 non-null float64
tmax         730 non-null float64
tmin         730 non-null float64
Latitude     730 non-null float64
Longitude    730 non-null float64
month        730 non-null int64
day          730 non-null int64
dtypes: float64(5), int64(4)
memory usage: 57.0 KB

In [95]:
#load ILI data from csv
ili = pd.read_csv("../data/raw.csv")
ili.head()

,statename,activity_level,activity_level_label,weekend,season,weeknumber,Latitude,Longitude
0,Alabama,1,Minimal,Oct-01-2016,2015-16,39,32.806671,-86.79113
1,Alabama,1,Minimal,Sep-24-2016,2015-16,38,32.806671,-86.79113
2,Alabama,1,Minimal,Sep-17-2016,2015-16,37,32.806671,-86.79113
3,Alabama,1,Minimal,Sep-10-2016,2015-16,36,32.806671,-86.79113
4,Alabama,1,Minimal,Sep-03-2016,2015-16,35,32.806671,-86.79113

In [96]:
# Clean the data 
# tramsform to datetime
ili['weekend'] = pd.to_datetime(ili['weekend'], format='%b-%d-%Y')
ili['season'] = pd.to_datetime(ili['season'], format='%Y-%y') 

# add year month and day in the data
ili['year'] = ili.weekend.dt.year
ili['month'] = ili.weekend.dt.month
ili['day'] = ili.weekend.dt.day

#remove data that we don't need
ili.drop(['weekend','season','weeknumber'], axis=1, inplace=True)

In [97]:
ili.head()

,statename,activity_level,activity_level_label,Latitude,Longitude,year,month,day
0,Alabama,1,Minimal,32.806671,-86.79113,2016,10,1
1,Alabama,1,Minimal,32.806671,-86.79113,2016,9,24
2,Alabama,1,Minimal,32.806671,-86.79113,2016,9,17
3,Alabama,1,Minimal,32.806671,-86.79113,2016,9,10
4,Alabama,1,Minimal,32.806671,-86.79113,2016,9,3

In [134]:
ili.shape

(15933, 8)

In [138]:
ili.drop_duplicates()
ili.shape

(15933, 8)

 ## Merge data

In [154]:
df = pd.merge(ili, df_month, on = ['statename', 'year', 'month' ])
df = df.sort_values(['statename','year','month'], ascending=True)
df = df.reset_index(drop=True)
df.to_csv("../data/train.csv", sep='\t', encoding='utf-8')
df.head()

,statename,activity_level,activity_level_label,Latitude,Longitude,year,month,day,mean_prcp,mean_tmax,mean_tmin
0,Alabama,1,Minimal,32.806671,-86.79113,2010,10,30,3.741935,26.870968,9.177419
1,Alabama,1,Minimal,32.806671,-86.79113,2010,10,23,3.741935,26.870968,9.177419
2,Alabama,1,Minimal,32.806671,-86.79113,2010,10,16,3.741935,26.870968,9.177419
3,Alabama,1,Minimal,32.806671,-86.79113,2010,10,9,3.741935,26.870968,9.177419
4,Alabama,1,Minimal,32.806671,-86.79113,2010,11,20,4.800000,19.933333,5.716667

In [137]:
df.shape

(3126, 14)

## Metadata

store meta-information about the variables in a DataFrame


-  **role**: response, explanatory (variable that we want to predict)
-  **level**: nominal, interval, ordinal, binary
-  **keep**: True or False
-  **dtype**: int, float, str

In [56]:
meta_ili = []
for f in ili.columns:
    # Defining the role
    if f == 'activity_level' or f == 'activity_level_label':
        role = 'response'
    else:
        role = 'explanatory'
         
    # Defining the level
    if 'statename' == f :
        level = 'nominal'
    elif 'activity_level_label' == f:
        level = 'ordinal'
    elif 'weekend' == f or 'season' == f or 'weeknumber' == f:
        level = 'interval'
    elif ili[f].dtype == float:
        level = 'ordinal'
    elif ili[f].dtype == int:
        level = 'ordinal'
        
    # Initialize keep to True for all variables except for id
    keep = True
    if f == 'activity_level_label':
        keep = False
    
    # Defining the data type 
    dtype = ili[f].dtype
    
    # Creating a Dict that contains all the metadata for the variable
    f_dict = {
        'varname': f,
        'role': role,
        'level': level,
        'keep': keep,
        'dtype': dtype
    }
    meta_ili.append(f_dict)
    
meta = pd.DataFrame(meta_ili, columns=['varname', 'role', 'level', 'keep', 'dtype'])
meta.set_index('varname', inplace=True)

In [57]:
meta

                             role     level   keep           dtype
varname
statename             explanatory   nominal   True          object
activity_level           response   ordinal   True           int64
activity_level_label     response   ordinal  False          object
weekend               explanatory  interval   True  datetime64[ns]
season                explanatory  interval   True  datetime64[ns]
weeknumber            explanatory  interval   True           int64
Latitude              explanatory   ordinal   True         float64
Longitude             explanatory   ordinal   True         float64

In [58]:
# Below the number of variables per role and level are displayed.

pd.DataFrame({'count' : meta.groupby(['role', 'level'])['role'].size()}).reset_index()

          role     level  count
0  explanatory  interval      3
1  explanatory   nominal      1
2  explanatory   ordinal      2
3     response   ordinal      2

### interval variables

In [59]:
v = meta[(meta.level == 'ordinal') & (meta.keep)].index
ili[v].describe()

       activity_level      Latitude     Longitude
count    15933.000000  15933.000000  15933.000000
mean         1.957510     39.465562    -93.366505
std          2.183754      6.015489     19.102700
min          0.000000     21.094318   -157.498337
25%          1.000000     35.630066   -105.311104
50%          1.000000     39.849426    -89.616508
75%          2.000000     43.326618    -78.169968
max         10.000000     61.370716    -69.381927

In [60]:
v = meta[(meta.level == 'nominal') & (meta.keep)].index
ili[v].describe()

       statename
count      15933
unique        51
top       Alaska
freq         313

### Checking the cardinality of the categorical variables

In [62]:
v = meta[(meta.level == 'interval') & (meta.keep)].index

for f in v:
    dist_values = ili[f].value_counts().shape[0]
    print('Variable {} has {} distinct values'.format(f, dist_values))

Variable weekend has 313 distinct values
Variable season has 6 distinct values
Variable weeknumber has 53 distinct values